body {
    background: #f1dcf8;
    padding: 0em;
    margin: 0em;
}

#root {
    display: flex;
}

/* Estilos de vista Login */

#encabezadoLoginRegistro {
    display: flex;
}

#mainLogin {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}


@media screen and (max-width: 480px){

    #root {
        display: flex;
        flex-direction: column;
    }

    #encabezadoLoginRegistro {
        display: flex;
        flex-direction: column;
    }

    #imgPrincipal {
        width: 100%;
        height: 100px;
    }

    #logoLoginRegistro {
        width: 140px;
        height: 55px;
        border-radius: 1em;
        margin-top: 15px;
    }

    .parrafo {
        text-align: center;
        font-size: 13px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    #mainLogin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .inputRegistro{
        display: flex;
        margin: 2px;   
    }

    #botonLogin {
        margin: 4px;
        width: 150px;
        height: 30px;
        margin: auto;
        margin-top: 5px;
        background-color: #754857;
        border-color: #9c6678;
        border-radius: 20px;
        color: rgb(250, 249, 249);
    }

    #footerLoginRegistro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 7px;
    }

    #iconoRedesSociales {
        display: flex;
        flex-direction: row;
    }

    .iconRed {
        width: 40px;
        height: 40px;
        padding: 8px;
    }

    #enlaceRegistro {
        text-decoration: none;
    }
    
}